fastapi~=0.75.2
uvicorn~=0.18.3
setuptools~=65.4.0
websockets~=10.3
PyYAML~=6.0
wheel~=0.37.1
python-dotenv~=0.21.0
watchgod~=0.8.2
httptools~=0.5.0
pydantic~=1.10.2
motor[srv]~=3.0.0
rarfile~=4.0
smbprotocol~=1.9.0
# pymongo[srv]~=4.2.0
# dnspython~=2.2.1